<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <script type="text/javascript">
      $('textarea').ckeditor({
        // optional config
        extraPlugins: 'stylesheetparser',

        // Stylesheet for the contents.
        contentsCss: '/assets/custom.css',

        stylesSet: [
          {
            name: 'Yellow Background',
            element: 'div',
            styles: {
              padding: '5px 10px',
              'background-color': 'Yellow',
              border: '1px solid #ccc'
            }
          },
          {
            name: 'Red Background',
            element: 'div',
            attributes: {
              'class': 'red-background'
            }
          }
        ],

        toolbar: [
          { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'RemoveFormat' ] },
          { name: 'source', items: [ 'Source', 'CreateDiv' ] }
        ]
      });
    </script>

  </body>
</html>
